<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.ashlands.game">

    <application
        android:allowBackup="true"
        android:label="Ashlands"
        android:supportsRtl="true">
        <activity
            android:name="org.ashlands.game.AshlandsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
